{% extends "users/profile_base.html" %}

{% block things %}
<div class="my-4">

    {% for product in profile_user.products.all %}

        <div class="d-flex flex-column flex-sm-row align-items-sm-center justify-content-between p-3 mb-3 bg-white rounded shadow-sm border position-relative overflow-hidden">

            <!-- Инфо о товаре -->
            <div class="d-flex align-items-center">
                <img src="{{ product.image.url }}" alt="" class="me-3 rounded bg-light" style="width: 60px; height: 60px; object-fit: contain;">
            <div>
                <span class="badge bg-light text-primary mb-1 fw-normal" style="font-size: 0.75rem;">{{ product.category }}</span>
                <h6 class="fw-bold mb-1">{{ product.name }}</h6>
                <p class="text-muted small mb-0">{{ product.description | truncatechars:80 }}</p>
            </div>
            </div>

            <!-- Цена / Кнопка Редактировать -->
            <div class="text-sm-end mt-3 mt-sm-0 ps-sm-3">
                <span class="fw-bold d-block mb-1">${{ product.price }}</span>
                <a href="{% url 'catalog:edit_product' pk=product.pk %}" class="btn btn-outline-primary d-inline-flex align-items-center gap-2 px-3">
                <svg width="14" height="14" fill="currentColor" viewBox="0 0 16 16">
                    <use href="/static/images/pencil-square.svg"/>
                </svg>
                Редактировать
                </a>
            </div>

        </div>

    {% empty %}
        <p class="text-muted">Вы еще не добавили ни одного товара.</p>
    {% endfor %}

</div>
{% endblock %}