{% extends 'catalog/base.html' %}

{% block content %}
<div class="container flex-grow-1">

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Новый товар</h1>
        <p class="lead">Заполните все данные по вашему товару, нажмите кнопку 'Добавить'</p>
    </div>

    <form method="post" action="/contacts">

        <div class="mb-3">
            <label for="nameInput" class="form-label">Название</label>
            <input type="text" class="form-control" id="nameInput" name="name">
        </div>

        <label for="priceInput" class="form-label">Цена</label>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">$</span>
            <input type="number" class="form-control" id="priceInput" name="price">
        </div>

        <label for="categorySelect" class="form-label">Категория</label>
        <select class="form-select mb-3" name="category" id="categorySelect">
            {% for category in categories %}
            <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
        </select>

        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Описание</label>
            <textarea
                    class="form-control"
                    id="exampleFormControlTextarea1"
                    style="field-sizing: content; min-height: 10em;"
                    rows="3"
                    name="description">
            </textarea>
        </div>

        <button type="submit" class="btn btn-primary">Добавить</button>

    </form>

</div>
{% endblock %}